.cache
.cargo
.*history*
.electron-gyp
.config/Element
.local/share
.hyprland
.mozilla
.pki
.npm
.ssh
.thunderbird
.yarn
Development
Documents
Downloads
Pictures
.config/Thunar
.config/GIMP
.config/astro
.config/bashtop
.config/darktable
.config/gh
.config/htop
.config/obs
.config/pulse
.config/yarn
