.cache
.cargo
.*history*
.electron-gyp
.config/Element
.local/share
.hyprland
.mozilla
.pki
.npm
.ssh
.thunderbird
.yarn
Development
Documents
Downloads
Pictures
Notes
.config/Thunar
.config/GIMP
.config/astro
.config/bashtop
.config/darktable
.config/gh
.config/htop
.config/obs
.config/pulse
.config/yarn
*jpg
*png
*sh
.config/darktable
.config/astro
.config/gh
.config/fontforge
.config/environment.d
.config/dconf
.config/kdenlive*
.config/kicad
.config/lazygit
.config/libreoffice
.config/obs-studio
.config/nix
.config/pavucontrol.ini
.config/QtProject.conf
.config/pulse
.config/Signal\ Desktop
.config/spicy
.config/gtk-3.0/bookmarks
.config/xfce4
.secrets
