[submodule ".local/src/dmenu"]
	path = .local/src/dmenu
	url = https://github.com/ahwxorg/dmenu
[submodule ".local/src/dwm"]
	path = .local/src/dwm
	url = https://github.com/ahwxorg/dwm
[submodule ".local/src/dwmblocks"]
	path = .local/src/dwmblocks
	url = https://github.com/ahwxorg/dwmblocks
[submodule ".local/src/st"]
	path = .local/src/st
	url = https://github.com/ahwxorg/pt
[submodule ".local/src/yay"]
	path = .local/src/yay
	url = https://aur.archlinux.org/yay.git
