* {
	font-family: "ComicShannsMono", sans-serif;
	font-size: 14px;
	/* color: #3A3B3C; */
}

window#waybar {
/* Transparent waybar. Make sure to comment out background-color: and border: */
background: rgba(0,0,0,0);
/* background-color: #1e1e2e; */
/* border: 2px solid #313244; */
transition-property: background-color;
transition-duration: .5s;
}

window#waybar.hidden {
opacity: 0;
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#memory,
#tray,
#pulseaudio,
#custom-menu,
#custom-power,
#custom-weather,
#custom-updater,
#custom-keybindings,
#custom-cycle_wall,
#network {
border-radius: 4px;
margin: 4px 0px;
padding: 0px 4px;
	color: #3A3B3C;
	/*border: 2px solid #3a3b3c; */
}

#workspaces {
border-radius: 4px;
margin: 4px 0px;
padding: 0px 4px;
	color: #3A3B3C;
}

#backlight {
color: #fafafa;
}

#battery {
background-color: rgba(0, 0, 0, 0);
margin-left: 0;
margin-right: 0;
color: #fafafa;
}

@keyframes blink {
	to {
			color: #fafafa;
	}
}

#clock {
	background-color: rgba(0,0,0,0);
	margin-left: 3px;
	margin-right: 5px;
	color: #fafafa;
}

#cpu {
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: #fafafa;
margin: 0;
padding-left: 20px;
padding-right: 20px;
}

#memory {
background-color: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.2);
color: #fafafa;
margin: 0;
padding-left: 20px;
padding-right: 20px;
}

#disk {
background-color: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.2);
color: #fafafa;
margin: 0;
padding-left: 20px;
padding-right: 20px;
}

#tray {
background-color: rgba(0,0,0,0);
margin-left: 10px;
margin-right: 10px;
color: #fafafa;
}
#tray > .passive {
	-gtk-icon-effect: dim;
}
#tray > .needs-attention {
	-gtk-icon-effect: highlight;
}

#workspaces {
margin-left: 5px;
margin-top: 8px;
}

#workspaces button {
color: #fafafa;
/* border: 2px solid #3a3b3c; */
margin-right: 2px;
border-radius: 100%;
padding: 0px;
opacity: .2;
transition: opacity .5s;
}

#workspaces button.active {
/*color: #fafafa;*/
color: #fafafa;
opacity: .7;
}

#custom-menu {
background-color: #f5c2e7;
}

#custom-power {
background-color: #f38ba8;
margin-right: 4px;
font-size: 24px;
}

#custom-updater {
background-color: #e6ed7b;
}

#custom-uptime {
background-color: #e6ed7b;
}

#custom-weather {
color: #fafafa;
}

#custom-cycle_wall {
background-color: #89dceb;
}

#custom-vpn_check {
background-color: #a6e3a1;
}

#custom-cputemp {
background-color: #86b4fa;
}

#custom-keybindings {
background-color: #86b4fa;
font-size: 24px;
}

#pulseaudio {
color: #fafafa;
}

#network {
background-color: rgba(0,0,0,0);
	margin-left: 10px;
	margin-right: 5px;
	color: #fafafa;
}
